@keyframes spin-bone {
    0% {
      transform: rotate(0deg); 
    }
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .animate-bone-spin {
    animation: spin-bone 3s  infinite; 
  }