.card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: 0.25s ease;
}

.card:hover {
  box-shadow: 0 18px 25px rgba(0, 0, 0, 0.12);
}


/* IMAGE */
.imageWrapper {
  position: relative;
  padding: 24px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageWrapper img {
  max-height: 150px;
  object-fit: contain;
}


/* SALE */
.saleBadge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #f59e0b;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 5px;
}


/* HOVER OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s ease;
}

.card:hover .overlay {
  opacity: 1;
}


/* BUTTON */
.cartBtn {
  background: #ff7a00;
  color: white;
  border-radius: 999px;
  padding: 8px 18px;
  font-size: 13px;
  border: none;
  transition: 0.2s ease;
}

.cartBtn:hover {
  background: #111;
  color: #fff;
}


/* CONTENT */
.content {
  padding: 15px;
  text-align: center;
}

.content h3 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}


/* PRICE */
.price {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.old {
  color: #aaa;
  text-decoration: line-through;
}

.new {
  color: #f97316;
  font-weight: 600;
}
