@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.input-box {
  @apply w-full p-3 rounded-xl border border-[#A98868]/50 
  bg-[#FCF9F4] text-[#443935] 
  focus:ring-2 focus:ring-[#C58D52] focus:border-[#C58D52]
  outline-none transition;
}

:root {
  --color-light-primary: #e8d8c4;
  --color-light-secondary: #b89c86;
  --color-light-dark: #4f3f36;
  --color-light-background: #faf7f2;
  --color-light-textSecondary: #7a7067;
  --color-light-accent: #e9a66f;
}

.dark {
  --color-dark-primary: #e8d8c4;
  --color-dark-background: #2b2521;
  --color-dark-card: #3a342f;
  --color-dark-text: #f7f4ef;
  --color-dark-textSecondary: #c6bcb3;
  --color-dark-accent: #e9a66f;
}
